* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 1em;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#container {
    margin: 10% auto;
    width: 400px;
    height: 400px;

#react-container {    
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
   .functions {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    button {
        flex: 1 0 50%;
    }
    input {
        flex: 1 0 50%;
    }
   }
    ul {
        border: 1px solid black;
        height: 100%;
        list-style: none;
        overflow-y: auto;
        li {
            &:not(:last-child) {
                border-bottom: 1px dotted black;
            }
        }
    }    
}
}
